/**
 * index.scss
 * - Add any styles you want here!
 */

// variables 
$light-shade: #e2cfdb;
$light-accent: #38bed3;
$brand-color: #016ea5;
$dark-accent: #b3405b;
$dark-shade: #1a161d;
$white: #fff;

$title-font: 'Playfair Display';
$main-font: 'Titillium Web';

// override bootstrap styles
a {
  color: $light-accent;
  &:hover,
  &:focus {
    color: lighten($light-accent, 16);
  }
}

.bg-primary {
  background-color: $brand-color !important;
}

.blockquote-footer {
  color: $light-shade;
}

// general
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 1.125rem;
  font-family: 'Titillium Web', sans-serif;
  color: $dark-shade;
  @media(max-width: 768px) {
    font-size: 0.8rem;
  }  
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: 'Playfair Display', serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

// elements
.big-paragraph {
  font-size: 1.75rem;
}

.medium-paragraph {
  font-size: 1.5rem;
}

.hero-contact-info {
  color: $brand-color;
  font-weight: bold;
}

.section-with-bg {
  background: $brand-color url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/desk-code-small-colored.jpg) center center no-repeat;
  background-size: cover;
  
  a {
    color: $light-shade;
  }
}

// triangle decoration
.triangle {
  width: 100%;
  @media(min-width: 768px) {
    height: 100px !important;
  }
}

.triangle.triangle-header {
  background: lighten($dark-shade, 16);
}

.triangle-header-path {
  fill: $white;
}

.triangle-instructor-path {
  fill: lighten($dark-shade, 16);
}

.triangle-instructor {
  background: $light-shade;
}

.triangle-demos {
  background: $brand-color;
}

.triangle-demos-path {
  fill: $light-shade;
}

.triangle-course-path {
  fill: $brand-color;
}

.triangle-course {
  background: $light-shade;
}

.triangle-testimonials-path {
  fill: $light-shade;
}

.triangle-testimonials {
  background-color: $dark-shade;
}

// hero section
.hero-header {
  background-color: $white;
  padding: 1rem .3rem 2rem;
}

.hero-container {
  position: relative;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 1rem auto;
  @media(min-width: 992px) {
    margin: 0.5rem 2rem 0 1rem;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.hero-contact-info a {
  color: $brand-color;
}

// instructor section
.instructor,
.instructor-container {
  background-color: lighten($dark-shade, 16);
  color: $light-shade;
}

.instructor {
  padding: 4rem .3rem;
}

.instructor-container {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/guy-pc-small-transparent.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-right: 2rem;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  
  @media(min-width: 600px) {
    width: 250px;
    height: 250px;  
  }
}

// demos section 
.demos,
.demos-container {
  background-color: $light-shade;
}

.demos-container {
  padding: 4rem .3rem;
  
  @media(min-width: 320px) and (max-width: 992px) {
  .card-columns {
    column-count: 1 !important;
  }
}
}


// course section
.course,
.course-container {
  background: $brand-color;
  color: $light-shade;
}

.course-container {
  padding: 4rem .3rem;
}

.course-img {
  max-width: 150px;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transform: rotate(10deg);
}

// testimonials
.testimonials {
  background-color: $light-shade;
  padding: 4rem .3rem;
}

.testimonials-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/code-small-transparent.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; 


@media(max-width: 768px) {
  .card-columns {
    column-count: 1;
  }
}
}

// footer 
.footer {
  padding: 2rem;
  background: $dark-shade url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/234228/code-small-transparent-footer.jpg) center center no-repeat;
  background-size: cover;
  color: $light-shade;
  .list-inline {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.footer-container {
  color: $light-shade;
}

.twitter {
  color: #2fc2ef;
}

.facebook {
  color: #4267b2;
}

.instagram {
  color: $light-shade;
}