/**
 * index.scss
 * - Add any styles you want here!
 */
a {
  color: #38bed3;
}

a:hover, a:focus {
  color: #7bd4e2;
}

.bg-primary {
  background-color: #016ea5 !important;
}

.blockquote-footer {
  color: #e2cfdb;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 1.125rem;
  font-family: "Titillium Web", sans-serif;
  color: #1a161d;
}

@media (max-width: 768px) {
  html {
    font-size: 0.8rem;
  }
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Playfair Display", serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

.big-paragraph {
  font-size: 1.75rem;
}

.medium-paragraph {
  font-size: 1.5rem;
}

.hero-contact-info {
  color: #016ea5;
  font-weight: bold;
}

.section-with-bg {
  background: #016ea5 url(../images/desk-code-small-colored.jpg) center center no-repeat;
  background-size: cover;
}

.section-with-bg a {
  color: #e2cfdb;
}

.triangle {
  width: 100%;
}

@media (min-width: 768px) {
  .triangle {
    height: 100px !important;
  }
}

.triangle.triangle-header {
  background: #44394b;
}

.triangle-header-path {
  fill: #fff;
}

.triangle-instructor-path {
  fill: #44394b;
}

.triangle-instructor {
  background: #e2cfdb;
}

.triangle-demos {
  background: #016ea5;
}

.triangle-demos-path {
  fill: #e2cfdb;
}

.triangle-course-path {
  fill: #016ea5;
}

.triangle-course {
  background: #e2cfdb;
}

.triangle-testimonials-path {
  fill: #e2cfdb;
}

.triangle-testimonials {
  background-color: #1a161d;
}

.hero-header {
  background-color: #fff;
  padding: 1rem 0.3rem 2rem;
}

.hero-container {
  position: relative;
}

.logo {
  width: 200px;
  height: 200px;
  margin: 1rem auto;
}

@media (min-width: 992px) {
  .logo {
    margin: 0.5rem 2rem 0 1rem;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.hero-contact-info a {
  color: #016ea5;
}

.instructor,
.instructor-container {
  background-color: #44394b;
  color: #e2cfdb;
}

.instructor {
  padding: 4rem 0.3rem;
}

.instructor-container {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background-image: url(../images/guy-pc-small-transparent.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.avatar {
  width: 80px;
  height: 80px;
  margin-right: 2rem;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
}

@media (min-width: 600px) {
  .avatar {
    width: 250px;
    height: 250px;
  }
}

.demos {
  background-color: #e2cfdb;
  padding: 4rem 0.3rem;
}

.demos-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: url(../images/code-small-transparent.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 992px) {
  .demos-container .card-columns {
    column-count: 1 !important;
  }
}

.course,
.course-container {
  background: #016ea5;
  color: #e2cfdb;
}

.course-container {
  padding: 4rem 0.3rem;
}

.course-img {
  max-width: 150px;
  height: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transform: rotate(10deg);
}

.testimonials {
  background-color: #e2cfdb;
  padding: 4rem 0.3rem;
}

.testimonials-container {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-image: url(../images/code-small-transparent.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media (max-width: 768px) {
  .testimonials-container .card-columns {
    column-count: 1;
  }
}

.footer {
  padding: 2rem;
  background: #1a161d url(../images/code-small-transparent-footer.jpg) center center no-repeat;
  background-size: cover;
  color: #e2cfdb;
}

.footer .list-inline {
  font-size: 1.5rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.footer-container {
  color: #e2cfdb;
}

.twitter {
  color: #2fc2ef;
}

.facebook {
  color: #4267b2;
}

.instagram {
  color: #e2cfdb;
}
